#book {
    background-image: url(cover.png);
}

#one {
    background-image: url(001.jpg);
}

#ten {
    background-image: url(002.jpg);
}

#seventeen {
    background-image: url(003.jpg);
}

#twenty {
    background-image: url(004.jpg);
}

#back {
    background-image: url(000.jpg);
}

#end {
    background-image: url(logo.jpeg);
}