#index_form p,
#index_form #calendar,
#index_form button[type="submit"],
.date {
  font-family: "MS Mincho", "SimSong", serif;
}

#index_form #calendar,
#index_form button[type="submit"] {
  font-size: 1rem;
  letter-spacing: 0.04rem;
}

.date li p i:not(.event i) {
  font-size: 125%;
  font-style: normal;
}

.date li .cafe i:after {
  content: "1F Cafe";
  color: #fff;
  background-color: red;
}

.date li .shop i:after {
  content: "2F Shop";
  color: #000;
  background-color: gold;
}

.date li .show,
.date li .show u {
  color: blue;
}

.date li .show span {
  padding: 1vw 0 0;
}

.date li .show u {
  text-decoration: none;
}

.date li .show i:after {
  content: "2F Gallery";
  color: #fff;
  background-color: blue;
}

.date .close:after {
  content: "CLOSE";
  font-size: 200%;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
