.floor {
  font-family: "MS Mincho", "SimSong", monospace;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  font-style: oblique;
}

.en {
  font-family: "Apple Chancery", cursive;
  font-size: 125%;
  color: red;
}

.floor {
  list-style-type: none;
  padding: 1.25rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.floor p {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 125%;
}

.floor li {
  padding: 0;
  margin: 1rem 0 0;
  width: 49.5%;
}

.floor li a {
  display: block;
  border: 1px solid black;
  padding: 5rem 0;
  font-size: 125%;
  text-align: center;
}

.floor li a:hover {
  color: #fff;
  border: 1px solid red;
  background: red;
}

#floor {
  position: relative;
  background-color: #fff;
  z-index: 500;
}

@media screen and (max-width: 750px) {
  .floor {
    padding: 2.5vw;
    letter-spacing: 0.1vw;
    font-size: 2.5vw;
  }

  .floor li {
    margin: 1.25vw 0 0;
  }

  .floor li a {
    padding: 10vw 0;
    margin-top: 1vw;
  }
}
