#btn {
    position: fixed;
    bottom:0;
    right:0;
    z-index: 1000;
}

#btn span::after {
    content: 'Index';
}

.open #btn span::after {
    content: 'Close';
}

#map,
.open #index_form,
.open ul.date {
    display: none;
}

.open #map {
    display: block;
}