#btn span::after {
    content: 'Index';
}

.open #btn span::after {
    content: 'Close';
}

#floor,
.open #index_form,
.open ul.date {
    display: none;
}

.open #floor {
    width: 100%;
    display: block;
}