@font-face {
    font-family: "Apple Chancery", cursive;
    src: url("https://vg.pe.hu/jp/apple-chancery.ttf");
}

@font-face {
    font-family: "MS Mincho", serif;
    src: url("https://vg.pe.hu/jp/MSMincho.ttf");
}

#btn span::after {
    content: 'Index';
}

.open #btn span::after {
    content: 'Close';
}

#floor,
.open main {
    display: none;
}

.open #floor {
    box-sizing: border-box;
    width: 100%;
    display: block;
}