@font-face {
  font-family: "MS Mincho", serif;
  src: url("https://vg.pe.hu/fonts/family/MSMincho.ttf");
}

.pehu {
  font-family: "MS Mincho", "SimSong", serif;
}

body,
#menu_links {
  padding: 0;
  margin: 0;
}

#floor,
.open main,
.open footer,
.open .nishitemma {
  display: none;
}

.open #floor {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

#btn::after {
  content: 'Index';
}

.open #btn::after {
  content: 'Close';
}

#menu_links {
  font-family: "MS Mincho", "SimSong", serif;
  padding: 0;
  margin: 0.25rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#menu_links a {
  color: red;
  font-size: 175%;
  padding: 0 0.25rem;
  margin: 0 0.5rem;
}

#menu_links a:hover {
  color: #fff;
  background-color: red;
}