#topic {
    clear: both;
    border: none;
    padding: 1rem 2.5%;
    letter-spacing: 0.04rem;
    font-family: "MS Mincho", serif;
}

#topic a {
    color: #000;
    text-decoration: none;
    font-size: 125%;
    line-height: 200%;
    padding: 0.25em;
    margin: 0 1rem 1rem 0;
}

#topic .topics {
    background-color: #eee;
}

#topic .flash {
    color: #fff;
    background-color: red;
}

#topic .dm {
    background-color: yellow;
}

#topic .topics:hover,
#topic .flash:hover,
#topic .dm:hover {
    color: #fff;
    background-color: blue;
}

@media screen and (max-width: 750px) {
    #topic {
        font-size: 0.75rem;
        padding: 1rem 0.5rem;
    }

    #topic a {
        margin: 0 0.5rem 0.5rem 0;
    }
}