html {
    height: -webkit-fill-available;
}

#menu {
    position: relative;
    z-index: 1000;
}

body,
main,
main ul {
    padding: 0;
    margin: 0;
}

main {
    position: fixed;
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

#screensaver {
    background: #fff;
    opacity: 0;
    position: absolute;
    transition: 1s;
    z-index: 1;
    pointer-events: none;
    user-select: none;
}

main,
#screensaver {
    top: 0;
    left: 0;
    right: 0;
}

main ul,
#screensaver {
    width: 100%;
    height: 100%;
}

main ul {
    background: #fff;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x proximity;
}

main ul li,
#cover {
    background-position: center;
    background-repeat: no-repeat;
}

main ul li {
    background-size: 75%;
    box-sizing: border-box;
    flex: 0 0 auto;
    list-style: none inside;
    scroll-snap-align: center;
    width: 75%;
    max-width: 750px;
    height: 100%;
    overflow: auto;
}

#index,
#screensaver {
    display: grid;
    place-items: center;
}

#cover {
    background-size: contain;
    width: 75%;
    max-width: 550px;
    height: 75%;
    max-height: 250px;
}

@media (orientation: portrait) {
    main ul {
        flex-flow: column;
        scroll-snap-type: y proximity;
    }

    main ul li {
        width: 100%;
        max-width: 100%;
        height: 70vw;
    }
}