html, body {
  font-size: 1vw;
  font-family: "ＭＳ 明朝","MS Mincho";
  letter-spacing: 0.05rem;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #033330;
  background-color: #fff;
  font-style:oblique;
}
b {
  font-size: 3vw;
  font-weight: normal;
}
u {font-size: 150%;}
hr {clear:both; border: 0 none; padding:0;}
ul {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap:         wrap;
  -webkit-align-items: normal;
  align-items: normal;
  margin: 0; padding: 0;
  list-style-type: none;
}
.month a {
  color: orange;
  font-size: 2vw;
  padding: 0.5vw;
  margin-right: 1vw;
  line-height:5vw;
  border: 1px solid orange;
}
.month li {
  font-size: 1vw;
  float: left;
  width: auto;
  padding: 0 2% 2%;
  background-color:rgba(255,255,255,0.5);
}
.date li {
  font-size: 1vw;
  float: left;
  width: 10%;
  padding: 2%;
  background-color:rgba(255,255,255,0.5);
}

.open p {font-size: 1.25vw;}
.open .hour {font-size: 0.5vw; color: #000; font-weight: bolder;}

.open .cafe b {
  font-size: 1.25vw;
  color: #fff;
  background-color: red;
}
.open .cafe b:after {
  content: "1F Cafe";
}
.open .cafe u:after {
  content: "12:00 - 6pm";
}
.open .shop b {
  font-size: 1.25vw;
  color: #000;
  background-color: yellow;
}
.open .shop b:after {
  content: "2F Shop";
}
.open .shop u:after {
  content: "1 - 6pm";
}

.open .gallery b {
  font-size: 1.25vw;
  color: #fff;
  background-color: blue;
}
.open .gallery u {
  color: blue;
  font-weight:500;
  background-color: #fff;
  text-decoration:none;
}
.open .gallery b:after {
  content: "Exhibition";
}
.open .gallery u:after {
  content: "1 - 6pm";
}
.open .gallery .topic {
  color: blue;
  margin-top:1vw;
  display:block;
}
.open .pre span:after,
.open .last span:after {
  color: #fff;
  background:blue;
  display:block;
  margin-top:1vw;
}
.open .pre span:after {
  content: "Preview";
}
.open .last span:after {
  content: "LAST DAY";
}
.open .run:after {
  color: blue;
  content: "→";
  display:block;
}
.open .event {
  font-size: 1.25vw;
  border:0.5vw dotted #000;
}
.open .event .price {
  font-size: 1vw;
  display:inline-block;
  margin: 1vw;
}
.open .pickup {
  color:#000;
  border:0.5vw solid red;
  border-radius:50%;
}
.open .pickup u {
  font-size:2.5vw;
}
.open .discussion {
  color: green;
  background-color: #fff;
}
.open .discussion:before {
  content: "8pm-";
}
.open .discussion u:before {
  content: "Discussion";
}

.sat {color:blue;}
.sun {color:red;}

.open .none,
.date .empty p,
.date .empty b,
.date .empty u,
.date .empty span,
.date .close p,
.date .close u,
.date .close span,
.open .event .none
{display:none;}

.close .day:after {
  content: "Closed";
  display:block;
  margin-top:1.25vw;
  font-size: 2.5vw;
  text-align: center;
}
