html {
    height: -webkit-fill-available;
}

html,
body {
    padding: 0;
    margin: 0;
}

.none {
  display: none;
}

@font-face {
    font-family: "MS Mincho", serif;
    src: url("MSMincho.ttf");
}

.month,
.date,
#collection #calendar,
#collection button[type="submit"] {
    font-family: "MS Mincho", serif;
}

ul {
    list-style-type: none;
}

h1,
b {
  font-size: 3vw;
  font-weight: normal;
}

hr {
  clear: both;
  border: 0 none;
  padding: 0;
}

.month {
    margin: 2.5%;
    padding: 0;
}

.date {
    padding: 0;
    margin: 0 1%;
    font-size: 1vw;
    display:grid;
    grid-template-columns:repeat(7,1fr);
    grid-gap: 0;
}

.date li {
    padding: 2.5%;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.5);
}

.date li:nth-child(7n+6) {
  color: blue;
}

.date li:nth-child(7n+7) {
  color: red;
}

.date li p u {
  font-size: 90%;
  color: #000;
}

.date li p i {
  font-size: 125%;
  font-style: normal;
}

.date li .cafe i:after {
  content: "1F Cafe";
  color: #fff;
  background-color: red;
}

.date li .shop i:after {
  content: "2F Shop";
  color: #000;
  background-color: gold;
}

.date li .show i:after {
  content: "2F Gallery";
  color: #fff;
  background-color: blue;
}

.date li .show span {
  display: block;
}

.open .gallery b {
  font-size: 1.25vw;
  color: #fff;
  background-color: blue;
}

.open .gallery u {
  color: blue;
  font-weight: 500;
  background-color: #fff;
  text-decoration: none;
}

.open .gallery .topic {
  color: blue;
  margin-top: 1vw;
  display: block;
}

.open .pre span:after,
.open .last span:after {
  color: #fff;
  background: blue;
  display: block;
  margin-top: 1vw;
}

.open .pre span:after {
  content: "Preview";
}

.open .last span:after {
  content: "LAST DAY";
}

.open .run:after {
  color: blue;
  content: "→";
  display: block;
}

.open .event {
  font-size: 1.25vw;
  border: 0.5vw dotted #000;
}

.open .event .price {
  font-size: 1vw;
  display: inline-block;
  margin: 1vw;
}

.open .pickup {
  color: #000;
  border: 0.5vw solid red;
  border-radius: 50%;
}

.open .pickup u {
  font-size: 2.5vw;
}

.open .discussion {
  color: green;
  background-color: #fff;
}

.open .discussion:before {
  content: "8pm-";
}

.open .discussion u:before {
  content: "Discussion";
}

.close .day:after {
  content: "Closed";
  display: block;
  margin-top: 1.25vw;
  font-size: 2.5vw;
  text-align: center;
}