body,
.library li .buy a {
    padding: 0;
    margin: 0;
}

#contents {
    font-size: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 750px;
    max-height: 100%;
}

.title .name {
    font-size: 125%;
    padding-right: 17.5%;
}

#contents span {
    display: inline-block;
}

#contents .by {
    width: 5%;
    padding-right: 3.5%;
}

#contents .as {
    width: 17.5%;
    padding-right: 0;
}

@media screen and (max-width: 750px) {
    #contents {
        font-size: 2.5vw;
        width: 90%;
        max-width: 90%;
    }
}