body {
    font-family: 'Times New Roman', Times, serif;
}

#daily {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 75vw;
}

.library li {
    background-size: 75%;
}

.cover {
    background-image: url(a.png);
}

.a {
    background-image: url(002.jpg);
}

.b {
    background-image: url(003.jpg);
}

.c {
    background-image: url(004.jpg);
}

.back {
    background-image: url(001.jpg);
}

.end {
    background-image: url(005.jpeg);
}

.library .buy a {
    color: #000;
}

.library .buy a:hover {
    color: red;
}

.library::-webkit-scrollbar-thumb,
.library li::-webkit-scrollbar-thumb {
    background: #000;
}