html {
    height: -webkit-fill-available;
}

#menu {
    position: relative;
    z-index: 1000;
}

.mousedragscrollable {
    position: absolute;
}

#menu,
.mousedragscrollable {
    top: 0;
    left: 0;
    right: 0;
}

#screensaver,
.mousedragscrollable {
    height: 100vh;
    max-height: -webkit-fill-available;
}

#floor {
    margin-top: 1rem;
}

.library {
    font-family: 'Times New Roman', Times, serif;
}

.library li {
    background-size: 75%;
}

.cover {
    background-image: url(a.png);
}

.back {
    background-image: url(000.jpg);
}

.a {
    background-image: url(001.jpg);
}

.b {
    background-image: url(002.jpg);
}

.c {
    background-image: url(003.jpg);
}

.d {
    background-image: url(004.jpg);
}

.end {
    background-image: url(logo.jpeg);
}

.library .buy a {
    color: #000;
}

.library .buy a:hover {
    color: red;
}

.library::-webkit-scrollbar-thumb,
.library li::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10vh;
}