html {
    height: -webkit-fill-available;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    html {
        font-size: 3vw;
    }
}

body,
#pdf {
    padding: 0;
    margin: 0;
}

body {
    background: 50% 50% / contain;
    background-color: bisque;
    background-attachment: fixed;
    color: #222;
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

main {
    display: grid;
    position: fixed;
    height: 100%;
}

header {
    position: absolute;
    text-align: center;
    z-index: 100;
}

a {
    font-family: 'Abril Fatface', serif;
    font-size: x-large;
    color: #222;
    border: #222 solid 0.2rem;
    display: inline-block;
    padding: 0 0.5rem;
    margin-top: 1rem;
    text-decoration: none;
}

h1 {
    font-size: 222%;
    font-weight: 500;
    width: 80%;
    max-width: 700px;
    margin: 0.5rem auto;
    pointer-events: none;
    user-select: none;
}

main,
header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

h1 strong {
    font-size: 150%;
    font-weight: 500;
    font-family: 'Abril Fatface', serif;
}

h1 small {
    display: block;
    font-size: 75%;
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 500;
    line-height: 125%;
}

main ul {
    display: flex;
    gap: 10%;
    padding: 2.5rem;
    margin: 0;
    place-self: end;
    overflow-x: auto;
    width: 100%;
}

main ul li {
    background-repeat: no-repeat;
    font-family: 'Zen Maru Gothic', serif;
    flex: 0 0 auto;
    list-style: none inside;
}

main ul li.img {
    width: 75vw;
    max-width: 500px;
    height: 75vw;
    max-height: 500px;
    z-index: 1;
    transition: 1s;
}

main ul li.img:hover {
    cursor: pointer;
    filter: brightness(1.5);
}

main ul li strong {
    font-size: 125%;
    font-weight: 500;
}

main ul li.about {
    background: #fff;
    z-index: 5;
}

.lemon {
    border-radius: 0.5rem;
    padding: 0.5rem;
    place-self: start;
    margin-left: -10rem;
    transform: rotateZ(10deg);
}

.ginger {
    border-radius: 0.5rem;
    padding: 0.5rem;
    place-self: end;
    margin-left: -4.5rem;
    margin-right: -15rem;
    margin-bottom: 1rem;
    transform: rotateZ(-5deg);
}

.croque {
    border-radius: 50%;
    padding: 5rem 2.5rem;
    margin-top: -2.5rem;
    margin-left: -10rem;
    place-self: start;
    transform: rotateZ(5deg);
}

.renren {
    border-radius: 0.5rem;
    padding: 0.5rem;
    place-self: end;
    margin-right: -10rem;
    margin-bottom: 1rem;
}

#lemon {
    background-image: url(lemon.jpg);
    background-size: cover;
    border-radius: 5rem;
}

#ginger {
    background-image: url(ginger.jpg);
    background-size: cover;
    border-radius: 50%;
}

#croque {
    background-image: url(croque.jpg);
    background-size: cover;
    border-radius: 1rem;
}

#renren {
    background-size: contain;
    background-position: right;
}

#renren:hover::after {
    background: #fff;
    border: 2px solid #000;
    border-radius: 0.5rem;
    display: inline-block;
    padding: 0.25rem;
    margin: 0.5rem;
}

#renren:hover::after {
    content: '2018年9月19日、れんれんは食品衛生責任者育成講習会を修了しました！';
}

#hoshizaki {
    background-image: url(renren/000.jpg);
    background-size: contain;
    background-position: bottom;
}

#hoshizaki:hover::after {
    content: '2018年10月9日、れんれんはホシザキの冷蔵庫を落札しました！';
}

#water {
    position: relative;
    background-image: url(water.jpg);
    background-size: cover;
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 200%;
    padding: 0.5rem;
    margin: 0;
    outline: none;
}

#dialog {
    position: fixed;
    width: 90%;
    max-width: 750px;
    height: 90%;
}

#pdf {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
}

#dialog button {
    position: absolute;
    right: 0;
    top: 0;
}