html {
    height: -webkit-fill-available;
}

#wakaba,
.mousedragscrollable {
    max-height: -webkit-fill-available;
    font-family: 'Noto Sans JP', sans-serif;
}

#menu {
    position: relative;
    z-index: 500;
}

.mousedragscrollable {
    position: absolute;
}

#menu,
.mousedragscrollable {
    top: 0;
    left: 0;
    right: 0;
}

.mousedragscrollable {
    height: 100vh;
}

.library li {
    background-size: 90%;
}

#floor {
    margin-top: 1rem;
}

#wakaba .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 75%;
}

.library .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 90%;
    overflow: auto;
}

.cover {
    background-image: url(book/004.png);
}

.a {
    background-image: url(book/001.png);
}

.b {
    background-image: url(book/005.png);
}

.c {
    background-image: url(book/006.png);
}

.d {
    background-image: url(book/007.png);
}

.e {
    background-image: url(book/008.png);
}

.hal {
    background-image: url(hal/000.JPG);
}

.hal .edition,
.hal .special {
    background: pink;
    color: #fff;
}

.library::-webkit-scrollbar-thumb,
.library li::-webkit-scrollbar-thumb {
    background: #43B149;
    border-radius: 10vh;
}