html,
body {
  padding: 0;
  margin: 0;
}

.none p,
.date li .none {
  display: none;
}

.date {
  list-style-type: none;
  padding: 1%;
  margin: 0;
  font-size: 1.25vw;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0;
}

.date li {
  position: relative;
  padding: 2.5%;
  margin: 1%;
  min-height: 12.5vw;
}

.date li:nth-child(7n+6) {
  color: blue;
}

.date li:nth-child(7n+7),
.holiday {
  color: red;
}

.date li b {
  font-size: 250%;
  font-weight: normal;
}

.date li p u {
  font-size: 95%;
  color: #000;
}

.date li p i {
  font-size: 125%;
  font-style: normal;
}

.date li p span {
  display: block;
  font-size: 150%;
}

@media screen and (max-width: 550px) {

  .date {
    font-size: 2vw;
    grid-template-columns: repeat(3, 1fr);
  }

  .date li {
    box-sizing: border-box;
    padding: 0.5vw;
    margin: 1.5vw;
    max-width: 30vw;
    min-height: 30vw;
  }

  .none {
    display: none;
  }
}