#contents {
    position: relative;
    width: 17.5vw;
    height: 17.5vw;
    padding: 1vw;
    margin: 0.5vw;
    float: left;
}

#contents .title {
    font-style: italic;
    margin: 0 0.5rem 0 0;
    font-size: 125%;
}

#contents .info {
    margin: 1.25vw 0 0;
    font-size: 75%;
}

#contents a {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -999px;
}

#contents a:hover {
    cursor: pointer;
    background-color: rgba(225, 225, 225, 0.25);
}

#contents .none {
    display: none;
}

.refine {
    clear: both;
    font-size: 1rem;
    padding: 0 2.5%;
}

.refine input[type=radio] {
    display: none;
}

.refine-btn {
    display: inline-block;
    margin: 0rem 0.5rem 0.25rem 0;
    padding: 0 0.25rem;
    cursor: pointer;
}

.show a {
    border: #000 0.1rem solid;
}

.live a {
    border: blue 0.1rem solid;
}

.dj a {
    border: gray 0.1rem solid;
}

.shop a {
    border: gold 0.1rem solid;
}

.workshop a {
    border: pink 0.1rem solid;
}

.community a {
    border: green 0.1rem solid;
}

.residency a {
    border: red 0.1rem solid;
}

#refine-1:checked~.refine-teims:not(.show),
#refine-2:checked~.refine-teims:not(.live),
#refine-3:checked~.refine-teims:not(.dj),
#refine-4:checked~.refine-teims:not(.shop),
#refine-5:checked~.refine-teims:not(.workshop),
#refine-6:checked~.refine-teims:not(.community),
#refine-7:checked~.refine-teims:not(.residency),
#refine-8:checked~.refine-teims:not(.members) {
    display: none;
}

.refine b {
    display: inline-block;
    text-align: center;
}

.refine span:before {
    content: '[';
    opacity: 1;
    font-weight: 500;
    padding-right: 0.5rem;
}

.refine span:after {
    content: ']';
    opacity: 1;
    font-weight: 500;
    padding-left: 0.5rem;
}

.refine input[type=radio]:checked+.refine-0 b,
.refine input[type=radio]:checked+.refine-1 b,
.refine input[type=radio]:checked+.refine-2 b,
.refine input[type=radio]:checked+.refine-3 b,
.refine input[type=radio]:checked+.refine-4 b,
.refine input[type=radio]:checked+.refine-5 b,
.refine input[type=radio]:checked+.refine-6 b,
.refine input[type=radio]:checked+.refine-7 b,
.refine input[type=radio]:checked+.refine-8 b {
    opacity: 1;
    color: blue;
}

.refine b {
    opacity: 0;
}

.refine-0,
.refine-1,
.refine-2,
.refine-3,
.refine-4,
.refine-5,
.refine-6,
.refine-7,
.refine-8 {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    #contents {
        width: 25vw;
        height: 25vw;
    }
}

@media screen and (max-width: 550px) {
    #contents {
        width: 95%;
        margin: 0 0 0.5rem;
        padding: 2.5%;
        height: auto;
    }
}