#org {
    position: sticky;
    top: 0;
    padding: 0.75rem 0 0;
    margin: 0;
    z-index: 10;
}

#contents,
input[type="radio"]+label {
    font-family: "MS Mincho", "SimSong", monospace;
}

input[type="radio"],
#contents li.hidden {
    display: none;
}

input[type="radio"]+label {
    color: #000;
    font-size: 111%;
}

input[type="radio"]+label:hover {
    cursor: pointer;
}

input[type="radio"]+label:hover,
input[type="radio"]:checked+label {
    color: red;
}

input[type="radio"]+label {
    font-size: 100%;
    display: inline-block;
    margin: 0 1rem 0.5rem 0;
}

input[type="radio"]+label::before {
    content: "[　]";
    margin-right: 0.5rem;
}

input[type="radio"]:checked+label::before {
    content: "[✔]";
    margin-right: 0.5rem;
}

#contents {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0;
}

#contents li {
    background: #fff7;
    color: #000;
    box-sizing: border-box;
    position: relative;
    padding: 0.75rem;
    margin: 0.5rem 1rem 0.5rem 0;
    width: 300px;
    height: 300px;
    list-style: none;
}

@media screen and (max-width: 750px) {
    #contents li {
        margin: 0.5rem 0;
        width: calc(100%);
        height: 40vw;
    }
}

#contents li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

[data-org="community"] a {
    border: #000 0.1rem solid;
}

[data-org="live"] a {
    border: blue 0.1rem solid;
}

[data-org="talk"] a {
    border: green 0.1rem solid;
}

[data-org="show"] a {
    border: red 0.1rem solid;
}

[data-org="shop"] a {
    border: yellow 0.1rem solid;
}

[data-org="workshop"] a {
    border: orange 0.1rem solid;
}

[data-org="residency"] a {
    border: purple 0.1rem solid;
}

[data-org="members"] a {
    border: gray 0.1rem solid;
}