#org {
    position: sticky;
    top: 0;
    padding: 0.75rem 0 0;
    margin: 0;
    z-index: 10;
}

#contents,
input[type="radio"]+label {
    font-family: "MS Mincho", "SimSong", serif;
}

input[type="radio"],
.hidden {
    display: none;
}

input[type="radio"]+label {
    color: #000;
    font-size: 111%;
}

input[type="radio"]+label:hover {
    cursor: pointer;
}

input[type="radio"]+label:hover,
input[type="radio"]:checked+label {
    color: red;
}

input[type="radio"]+label {
    font-size: 100%;
    display: inline-block;
    margin: 0 1rem 0.5rem 0;
}

input[type="radio"]+label::before {
    content: "[　]";
    margin-right: 0.5rem;
}

input[type="radio"]:checked+label::before {
    content: "[✔]";
    margin-right: 0.5rem;
}

#contents {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0 0;
}

#contents li {
    box-sizing: border-box;
    font-size: 111%;
    position: relative;
    padding: 0.75rem;
    margin: 0.5rem 1rem 0.5rem 0;
    width: 300px;
    height: 300px;
    list-style: none;
}

@media screen and (max-width: 750px) {
    #contents li {
        margin: 0.5rem 0;
        width: calc(100%);
        height: 40vw;
    }
}

#contents li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.community a {
    border: #000 0.1rem solid;
}

.live {
    color: blue;
}

.live a {
    border: blue 0.1rem solid;
}

.talk {
    color: green;
}

.talk a {
    border: green 0.1rem solid;
}

.show {
    color: red;
}

.show a {
    border: red 0.1rem solid;
}

.shop {
    color: gold;
}

.shop a {
    border: gold 0.1rem solid;
}

.workshop {
    color: orange;
}

.workshop a {
    border: orange 0.1rem solid;
}

.residency {
    color: purple;
}

.residency a {
    border: purple 0.1rem solid;
}

.members {
    color: silver;
}

.members a {
    border: silver 0.1rem solid;
}
