.is-hide,
.nothing,
.none {
    display: none;
}

#submit #words {
    margin: 0;
    padding: 2.5rem 1rem 5rem;
    font-size: 1rem;
}

#submit #words h2 {
    transform: scale(1, 1.5);
    font-size: 150%;
    color: #fff;
    text-shadow: 0.1rem 0.1rem #000;
}

#submit #words textarea {
    font-size: 1.25rem;
    box-sizing: border-box;
    border: 0.1rem solid;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    height: 12.5rem;
}

#submit ul,
#submit li {
    padding: 0;
    margin: 0;
}

#submit ul {
    position: relative;
    list-style: none;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#submit .label {
    display: inline-block;
    cursor: pointer;
    color: #000;
    border-radius: 0.5rem;
}

#submit input[type="radio"] {
    display: none;
}

#submit input[type="radio"]:checked+label {
    color: #fff;
    background-color: #eee;
    text-shadow: 0.1rem 0.1rem #fff;
}

#submit .weight .label,
#submit .size .label {
    border: 0.1rem solid #eee;
}

#submit .weight .label {
    margin: 0.5rem;
    padding: 0.25rem;
    font-size: 1.5rem;
}

#submit .size .label {
    margin: 0.5rem;
    padding: 0 1rem;
    font-size: 2rem;
}

#submit .feel .label {
    margin: 0.5rem;
    padding: 0 0.5rem;
    font-size: 3rem;
}

#submit button,
#submit input[type="reset"] {
    width: 100%;
    padding: 0.5rem 0;
    margin: 2rem 0;
}

#submit input[type="submit"] {
    padding: 0.5rem 1rem;
    margin: 2rem 0;
}

#submit button,
#submit input[type="submit"],
#submit input[type="reset"] {
    display: inline-block;
    text-align: center;
    background: #fff;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem #fff;
}

#submit button:hover,
#submit input[type="submit"]:hover,
#submit input[type="reset"]:hover {
    color: #fff;
    background: #eee;
    border: 1px solid #eee;
    text-shadow: 0.1rem 0.1rem #000;
}

#submit .note {
    box-sizing: border-box;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    clear: both;
}

#submit .note b {
    box-sizing: border-box;
    display: block;
    padding: 1rem;
    transform: scale(1, 1.5);
    font-size: 200%;
    color: #fff;
    text-shadow: 0.1rem 0.1rem #000;
}

#submit .sub {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5rem;
    font-size: 150%;
    font-family: "MS Serif", "Times New Roman", serif;
}