.info ol,
.info ul,
.info li,
#are h1 {
	padding: 0;
	margin: 0;
}

#are {
	box-sizing: border-box;
	padding: 2rem;
	margin: 0;
	background-color: #eee;
}

#moreinfo {
	padding: 1.5rem;
	margin: 1.5rem auto;
	border-radius: 2.5rem;
	box-sizing: border-box;
	background-color: #fff;
}

#moreinfo h2 {
	margin: 0;
}

#moreinfo h3 {
	margin: 0.75rem 0 0.25rem;
}

#moreinfo h2,
#moreinfo h3 {
	font-size: 1rem;
	padding: 0 0 1rem;
}

#moreinfo h2 span {
	color: red;
}

#moreinfo h2,
#emergency {
	display: flex;
	justify-content: space-between;
}

.folder,
.files {
	display: block;
	clear: both;
	width: 100%;
}

.folder h3 {
	position: relative;
	float: left;
}

.folder h3::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1rem;
	height: 0.5rem;
	background-color: #39a9d6;
	border-radius: 0.2rem 0.2rem 0 0;
}

.folder h3::after {
	content: "";
	position: absolute;
	top: 0.25rem;
	left: 0;
	width: 2rem;
	height: 1.25rem;
	background-color: #39a9d6;
	border-radius: 0 0.2rem 0.2rem 0.2rem;
}

.folder h3 b {
	margin-left: 3rem;
	font-weight: 500;
	font-size: 125%;
}

.folder a {
	display: block;
	float: right;
	margin: 0.5rem 0;
	padding: 0.25rem;
	border: solid 0.1rem red;
}

.files {
	display: flex;
	flex-wrap: wrap;
}

.files p {
	padding: 0;
	margin: 0 1rem 0.5rem 0;
}

.files p img {
	display: block;
	float: left;
	padding: 0;
	margin: 0 0.5rem 0 0;
	height: 2.5rem;
	user-select: none;
	pointer-events: none;
}

.info ol,
.info ul {
	list-style: none;
}

.info {
	padding: 1rem;
	margin: 0 0 1rem;
	border: solid 0.1rem;
}

@media screen and (max-width: 750px) {
	#are {
		padding: 2.5vw 4.5vw;
	}

	#moreinfo {
		padding: 2.5vw;
		margin: 2vw auto;
		border-radius: 5vw;
	}

	#moreinfo h3 {
		margin: 1.5vw 0 0.5vw;
	}

	#moreinfo h2,
	#moreinfo h3 {
		font-size: 2vw;
		padding: 0 0 2vw;
	}

	.folder h3::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 2.5vw;
		height: 1vw;
		background-color: #39a9d6;
		border-radius: 0.5vw 0.5vw 0 0;
	}

	.folder h3::after {
		top: 0.75vw;
		width: 4vw;
		height: 2.5vw;
		border-radius: 0 0.5vw 0.5vw 0.5vw;
	}

	.folder h3 b {
		margin-left: 5.5vw;
	}

	.folder a {
		font-size: 2vw;
		margin: 1.25vw 0;
		padding: 0.5vw;
		border: solid 0.1vw red;
	}

	.files p {
		padding: 0;
		margin: 0 2vw 2.5vw 0;
	}

	.files p img {
		margin: 0 1vw 0 0;
		height: 5vw;
	}

	.info {
		font-size: 2vw;
		padding: 2.5vw;
		border: solid 0.1vw;
	}
}

@media print {
	#are {
		padding: 2rem;
		height: 100vh;
	}

	.folder a {
		display: none;
	}

	#moreinfo .files img {
		height: 2rem;
	}

	#are h1 {
		line-height: 125%;
	}

	#are p:not(#moreinfo p) {
		font-size: 75%;
	}
}