.pehu,
#moreinfo,
#moreinfo h2,
#moreinfo h3,
#moreinfo .files p {
	font-family: "MS Mincho", serif;
	letter-spacing: 0.04rem;
}

h2,
#are p,
#future .credit {
	font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	text-align: center;
}

h1,
h3,
#future h2 {
	font-family: Arial, sans-serif;
}

i,
#are h1,
#future h1 {
	font-family: 'Times New Roman', Times, serif;
}

i {
	font-style: italic;
	font-weight: 555;
	padding-right: 0.25rem;
}

#are h1,
#future h1 {
	font-size: 2.5rem;
}

h1 {
	font-size: 2rem;
	line-height: 150%;
}

h3,
#we h3,
#future h2 {
	font-size: 1.75rem;
	line-height: 150%;
}

.buy p,
#future .credit {
	font-size: 1rem;
}

#are p:not(#moreinfo p) {
	font-size: 1rem;
}

h1,
h2,
h3 {
	font-weight: 500;
}

a {
	box-sizing: border-box;
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #fff;
	background-color: red;
}

#we a,
#future h2 a {
	border: solid 0.1rem #000;
	padding: 0.5rem;
}

#we a:hover,
#future h2 a:hover {
	border: solid 0.1rem red;
}

#we h2 {
	color: red;
}

body,
main,
#main {
	padding: 0;
	margin: 0;
}

main,
#we,
#main,
#future {
	box-sizing: border-box;
}

hr,
#main,
#future {
	clear: both;
	border: none;
}

#are,
#future {
	min-height: 100vh;
}

#we #usbcard,
#preview {
	padding: 0;
	margin: 0;
}

#preview {
	position: relative;
	padding: 5vh 2.5vw;
	margin: 0 auto 2.5vw;
	max-width: 90vw;
	max-height: 90vh;
}

hr,
#we h2 {
	padding: 1rem;
}

#we {
	padding: 2.5rem;
}

.buy {
	margin: 1.25rem;
}

#future {
	padding: 0.5rem 2.5rem;
	margin: 0;
	background: linear-gradient(-90deg, #b3cbf6, #FFC778, #eee);
}

#are h1,
#future h1 {
	color: #fff;
	font-style: italic;
}

#future h2,
#future .credit {
	padding: 0.75em;
}

#usbcard {
	width: 65vw;
	max-width: 500px;
}

.buy {
	float: right;
}

@media screen and (max-width: 750px) {

	#future h1,
	#are h1 {
		font-size: 4.5vw;
	}

	h1,
	#future h2 {
		font-size: 3.75vw;
	}

	h3,
	#we h3 {
		font-size: 3vw;
	}

	h2,
	.buy p,
	#we h2,
	#moreinfo p,
	#future .credit {
		font-size: 2.5vw;
	}

	#are p:not(#moreinfo p) {
		font-size: 2vw;
	}

	i {
		padding-right: 0.5vw;
	}

	#we a {
		border: solid 0.2vw #000;
		padding: 1.25vw;
	}

	#we a:hover {
		border: solid 0.2vw red;
	}

	#future {
		padding: 1vw 4.5vw;
	}

	#we,
	#future h2,
	#future .credit {
		padding: 2.5vw;
	}

	#we,
	.buy {
		margin: 2.5vw 0;
	}

	hr,
	#we h2 {
		padding: 1.25vw;
	}
}

@media print {
	#menu {
		display: none;
	}

	#we {
		padding: 1rem 2.5rem;
	}

	#we h1 u::after {
		content: '';
		display: block;
		clear: both;
		padding: 1rem 0;
	}
}