#sp {
    width: 100%;
    max-width: 450px;
    margin: 2.5rem auto;
}

#sp img {
    display: block;
}

#sp .vol {
    float: right;
    margin-top: 5%;
    margin-right: 5%;
    width: 30%
}

#sp .logo {
    float: left;
    width: 22.5%;
    margin-top: 12.5%;
    margin-left: 5%;
}

#sp #info {
    font-family: "YuGothic", "Yu Gothic", "游ゴシック体", sans-serif;
    font-size: 0.75rem;
    display: block;
    clear: both;
    padding: 7.5% 5% 0;
}

#sp #contents {
    padding: 2.5% 5% 5%;
    list-style-position: inside;
}

#sp #contents li {
    position: relative;
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    border: solid 0.1rem;
    color: #333;
    margin-bottom: 2.5%;
    padding: 0.25rem 0.75rem 2rem;
}

#sp #contents li b {
    font-weight: 400;
    font-size: 1.5rem;
    top: 0.9rem;
    left: 2.75rem;
    display: block;
    position: absolute;
}

#sp #contents li:hover {
    cursor: pointer;
    background-color: red;
    color: #fff;
}

#sp #contents li::marker {
    content: "[" counter(list-item) "]";
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}


#sp #contents .text p {
    font-size: 0.75rem;
    border: 2px dotted;
    padding: 0.5rem;
    margin: 0.25rem 0 1rem;
}

#sp #contents .text img,
#sp #contents .text iframe {
    width: 100%;
    box-sizing: border-box;
}

#sp #contents .text iframe {
    height: 230px;
}

#sp #contents #special h3 {
    padding: 7.5rem 0;
    margin: 0 0 1rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(-90deg, #eee, #FFC778, #b3cbf6);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}