html {
    font-size: 16px;
}

@font-face {
    font-family: "MS Mincho";
    src: url("https://vg.pe.hu/fonts/family/MSMincho.ttf");
}

@font-face {
    font-family: "MS Gothic";
    src: url("https://vg.pe.hu/fonts/family/MSGothic.ttf");
}

@font-face {
    font-family: "Apple Chancery";
    src: url("https://vg.pe.hu/fonts/family/apple-chancery.ttf");
}

body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    font-size: 200%;
}

h2,
aside h3 {
    font-size: 150%;
}

section h3 {
    font-size: 125%;
}

article aside {
    font-size: 95%;
}

nav {
    font-size: 90%;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

u {
    text-decoration: underline wavy;
}

aside a {
    border-bottom: 2px solid;
    font-size: 95%;
}

nav,
article section,
article aside {
    padding: 1rem;
    margin: 0;
}

h1,
h2,
article p {
    padding: 0;
    margin: 0.5rem 0;
}

nav {
    clear: both;
    width: 100%;
}

#members {
    border: 1px solid;
    color: #fff;
    background: #000;
    display: inline-block;
    padding: 0 0.25rem;
    margin-left: 0.5rem;
}

#date:hover {
    text-decoration: double underline 1px;
}

#door::before {
    content: " | ";
}

@media (orientation: landscape) {
    section {
        float: left;
        width: calc(100% / 3 * 2);
        max-width: 1000px;
        min-height: calc(100vh - 10rem);
    }

    aside {
        float: left;
        width: calc(100% / 3);
    }
}

@media (orientation: portrait) {
    section,
    aside {
        width: 100%;
        clear: both;
    }
}