html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body,
article,
ol {
    padding: 0;
    margin: 0;
}

h1,
aside h3,
aside p {
    padding: 0;
    margin: 1rem;
}

ol li {
    padding: 1rem;
}

@font-face {
    font-family: "MS Mincho";
    src: url("https://vg.pe.hu/fonts/family/MSMincho.ttf");
}

h1,
.en,
#description {
    font-family: 'Instrument Serif', serif;
}

.ja,
ol li::marker,
a {
    font-family: "MS Mincho", "SimSong", monospace;
}

#cover li::marker {
    font-size: 200%;
}

h1,
#description {
    font-size: 150%;
}

h2 {
    font-size: 175%;
}

#cover a {
    font-size: 90%;
}

li p,
li.ja u {
    font-size: 75%;
}

h1,
h2,
h3 {
    font-weight: 500;
}

#cover a {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 0.25rem;
    text-decoration: none;
}

#book li.ja {
    display: grid;
}

h1,
#footer {
    position: fixed;
    z-index: 10;
}

#credit,
li.ja nav {
    position: absolute;
    bottom: 0;
}

h1 {
    top: 0;
    left: 0;
}

aside {
    bottom: 0;
    left: 0;
}

ol {
    display: flex;
    width: 100%;
}

#cover li {
    list-style-type: decimal-leading-zero;
}

ol li {
    background: #fff;
    text-align: right;
    position: relative;
    list-style-position: inside;
    width: 100%;
}

ol li p,
ol li h2,
ol li h3 {
    text-align: left;
}

@media (orientation: landscape) {

    article {
        height: 100vh;
    }

    ol,
    ol li {
        height: 100%;
    }

    ol {
        gap: 2rem;
        overflow-x: auto;
        scroll-snap-type: x proximity;
    }

    ol li {
        flex: 0 0 auto;
        overflow: auto;
        max-width: 550px;
        scroll-snap-align: start;
    }
}

@media (orientation: portrait) {
    html {
        font-size: 3.5vw;
        height: -webkit-fill-available;
    }

    ol {
        flex-direction: column;
        overflow: auto;
    }

    #book li {
        min-height: calc(100vh - 9.5rem);
    }

    #cover li {
        height: calc(100vh - 9.5rem);
        max-height: -webkit-fill-available;
    }

    #footer {
        position: relative;
        padding-bottom: 0.5rem;
    }
}

@media print {

    #cover {
        display: none;
    }

    #footer {
        position: fixed;
    }

    ol li,
    #book li,
    #cover li {
        min-height: 100vh;
        height: auto;
        max-height: auto;
        page-break-after: always;
    }
}

ol li iframe {
  width: 100%;
  height: 52.5vw;
  max-height: 300px;
}