.library {
    background: #fffbe6;
    font-size: 1.25rem;
}

.contents span {
    display: inline-block;
}

.title {
    padding-right: 15vw;
}

.by {
    width: 5vw;
    padding-right: 1vw;
}

.as {
    width: 15vw;
    padding-right: 0;
}

.name {
    padding: 5vh 10vw;
}

.nlc {
    display:block;
    width:100%;
    font-size: 200%;
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    font-stretch: condensed;
    font-variant: common-ligatures tabular-nums;
    transform: scale(1, 1.1);
    letter-spacing: -0.1rem;
    word-spacing: -0.1rem;
    position: relative;
}

.nlc::after {
    content: '™';
    position: absolute;
    top: 0;
    padding-left: 0.45vw;
    margin: 0 1.25%;
    font-size: 45%;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 550px) {
    .library {
        font-size: 3.33vw;
    }
}