html {
    height: -webkit-fill-available;
}

#form,
#index {
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    border: none;
    width: 50%;
    height: 100vh;
    max-height: -webkit-fill-available;
}

#form {
    float: left;
    overflow: auto;
    z-index: 2;
}

#index {
    float: right;
    z-index: 1;
}

@media screen and (max-width: 750px) {

    #form,
    #index {
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        clear: both;
    }
}

.mousedragscrollable {
    height: 100vh;
    max-height: -webkit-fill-available;
}

#floor {
    margin-top: 1rem;
}

.library li {
    font-family: 'Noto Sans JP', sans-serif;
    background-size: 100%;
}

.contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 400px;
    max-height: 100%;
    overflow: auto;
}

.think {
    background-image: url(000.jpg);
}

.book {
    background-image: url(open.jpg);
}

.aa {
    background-image: url(001.jpg);
}

.bb {
    background-image: url(002.jpg);
}

.cc {
    background-image: url(003.jpg);
}

.library::-webkit-scrollbar-thumb,
.library li::-webkit-scrollbar-thumb {
    background: #000;
}