#footer,
#footer ul,
#footer ul li {
    padding: 0;
    margin: 0;
}

#footer p {
    padding: 0;
    margin: 1rem;
}

#footer ul {
    list-style: none;
    list-style-position: inside;
}

#footer ul li {
    float: left;
    width: 50%;
}