@font-face {
  font-family: "Times Dot";
  src: url("https://vg.pe.hu/fonts/family/times-dot/TimesDotRom.otf"),
    url("https://vg.pe.hu/fonts/family/times-dot/TimesDotBol.otf"),
    url("https://vg.pe.hu/fonts/family/times-dot/TimesDot-Italic.otf");
}

#top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Times Dot', 'Times New Roman', Times, serif;
    font-size: 125%;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.025rem;
    z-index: 10;
}

#contents {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Times Dot', 'Times New Roman', Times, serif;
    padding: 1rem;
    width: 100%;
    max-width: 550px;
}

#contents .title .name {
    font-size: 125%;
    padding-right: 17.5%;
}

#contents span {
    display: inline-block;
}

#contents .by {
    width: 5%;
    padding-right: 3.5%;
}

#contents .as {
    width: 17.5%;
    padding-right: 0;
}

@media screen and (max-width: 750px) {
    #top {
        font-size: 3.5vw;
        letter-spacing: 0.1vw;
    }

    #contents {
        font-size: 2.5vw;
        padding: 0 10%;
    }
}

@media (orientation: portrait) {
    #book {
        min-height: -webkit-fill-available;
    }
}